*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #0c192c;
    height: 1000px;
}
.content{
    position: absolute;
    padding: 80px;
}
.container{
    position: relative;
    
}
.bubbles{
    position: relative;
    display: flex;
    
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate{
    0%{
        transform: translateY(200px)scale(0);
    }
    100%{
        transform: translateY(-10vh)scale(1);
    }
}
header{
    display: flex;
    justify-content: space-between;
    /* padding: 80px; */
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 750px;
}
ul li a{
    text-decoration: none;
}
ul li a :active {
    color: red;
}
.about a{
    transition: ease-in-out 0.3s;
}
.about a:hover{
    color: red;
}
.services a{
    transition: ease-in-out 0.3s;
}
.services a:hover{
    color: red;
}
.location a{
    transition: ease-in-out 0.3s;
}
.location a:hover{
    color: red;
}
.career a{
    transition: ease-in-out 0.3s;
}
.career a:hover{
    color: red;
}
.Contact a{
    display: flex;
    width: 94px;
    justify-content: space-between;
    
}
.Contact a:hover{
    color: red;
    transition: ease-in 0.5s;
}
.img {
    width: 17px;
    background-image: url(phone-flip.png);
    background-repeat: no-repeat;
}
.Contact a:hover .img{
    animation-name: phone;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@keyframes phone{
    0%{background-image: url(phone-flip.png);}
    50% {background-image: url(phone-flip16px.png);}
    100% {background-image: url(phone-flip16px.png);}
}
.section1{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.leftcontent1{
    width: 500px;
    height: 250px;
    font-size: 20px;
    
}
.leftcontent1 p{
    margin-top: 30px;
}
.leftcontent1 button{
    width: 90px;
    height: 30px;
    margin-top: 30px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(163, 163, 163);
    transition: width 0.5s, background-color 0.5s;
}
.leftcontent1 button a{
    text-decoration: none;
}
.leftcontent1 button:hover{
    background-color: green;
    width: 110px;
}
.rightcontent1{
    height: 380px;
    width: 460px;
    box-shadow: 0 0 10px #4fc3dc, 0 0 0 10px #0c192c, 0 0 200px #4fc3dc;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    animation-name: slideshow;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    overflow: hidden;
}
.rightcontent3 img{
    height: 380px;
    width: 460px;
    border-radius: 10px;
}
@keyframes slideshow {
    0% {background-image: url(slideshow.jpg);}
    50% {background-image: url(slidesho2.jpg);}
    100% {background-image: url(slideshow.jpg);}
}
.head{
    display: flex;
    padding-left: 80px;
    margin-top: 80px;
}
.section2{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.leftcontent2 img{
    height: 380px;
    width: 460px;
    border-radius: 10px;
}
.leftcontent2{
    height: 380px;
    width: 460px;
    border-radius: 10px;
    box-shadow: 0 0 10px #4fc3dc, 0 0 0 10px #0c192c, 0 0 200px #4fc3dc;
}
.leftcontent4{
    width: 500px;
    height: 250px;
    font-size: 20px;
}
.leftcontent4 p{
    margin-top: 30px;
}
.leftcontent3{
    height: 380px;
    width: 460px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    animation-name: slideshow2;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    overflow: hidden;
}
@keyframes slideshow2 {
    0% {background-image: url(slideshow4.jpg);box-shadow: 0 0 10px #C4B7FF, 0 0 0 10px #0c192c, 0 0 200px #C4B7FF;}
    50% {background-image: url(slideshow3.jpg);box-shadow: 0 0 10px #BDC3FF, 0 0 0 10px #0c192c, 0 0 200px #BDC3FF;}
    100% {background-image: url(slideshow4.jpg);box-shadow: 0 0 10px #C4B7FF, 0 0 0 10px #0c192c, 0 0 200px #C4B7FF;}
}
.rightcontent2{
    width: 500px;
    height: 150px;
    font-size: 20px;
}
.rightcontent2 p{
    margin-top: 30px;
}
.rightcontent3 img{
    height: 380px;
    width: 460px;
    border-radius: 10px;
}
#IMG9{
    box-shadow: 0 0 10px #FFFFFF, 0 0 0 10px #0c192c, 0 0 200px #FFFFFF; 
}
#IMG7{
    box-shadow: 0 0 10px #FBD5E0, 0 0 0 10px #0c192c, 0 0 200px #FBD5E0; 
}
#IMG5{
    box-shadow: 0 0 10px #BED3E6, 0 0 0 10px #0c192c, 0 0 200px #BED3E6;
}
#IMG3{
    box-shadow: 0 0 10px #8985E4, 0 0 0 10px #0c192c, 0 0 200px #8985E4;
}
.text{
    padding: 80px;
    font-size: 20px;
}
.Info{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.email{
    display: flex;
    width: 600px;
}
.email input{
    color: black;
    padding-left: 10px;
    font-size: 15px;
    border-style: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    width: 400px;
    height: 50px
}
.email button{
    width: 100px;
    height: 50px;
    font-size: 15px;
    background-size: cover;
    background-position-y: -35px;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    background-image: url(slideshow5.jpg);
    transition: width 0.5s;
} 
.email button:hover{
    width: 120px;
    background-size: cover;
    animation-name: button;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@keyframes button{
    0%{background-image: url(slideshow5.jpg);}
    50% {background-image: url(button.jpg);}
    100% {background-image: url(button.jpg);}
}
/* @media only screen and (max-width: 450px) {
    .bubbles{
        width: 1100px;
    }
    ul{
        width: 500px;
    }
    .rightcontent1{
        height: 350px;
        width: 390px;
    }
    .leftcontent3{
        height: 350px;
        width: 390px;
    }
    .rightcontent3 img{
        height: 350px;
        width: 390px;
    }
    .leftcontent2{
        height: 350px;
        width: 390px;
    }
    .leftcontent2 img{
        height: 350px;
        width: 390px;
    }
    .leftcontent1{
    width: 450px;
    height: 250px;
    }
    .rightcontent2{
        width: 400px;
    }
    .leftcontent1{
        width: 400px;
    }
    .leftcontent4 p{
        width: 400px;
    }
} */
/* @media only screen and (max-width: 800px) {
    .bubbles{
        width: 1000px;
    }
    header h1{
        width: 100px;
    }
    ul{
        width: 500px;
    }
    .rightcontent1{
        height: 300px;
        width: 350px;
    }
    .leftcontent3{
        height: 300px;
        width: 350px;
    }
    .rightcontent3 img{
        height: 300px;
        width: 350px;
    }
    .leftcontent2{
        height: 300px;
        width: 350px;
    }
    .leftcontent2 img{
        height: 300px;
        width: 350px;
    }
    .leftcontent1{
    width: 450px;
    height: 250px;
    }
    .rightcontent2{
        width: 400px;
    }
    .leftcontent1{
        width: 400px;
    }
    .leftcontent4 p{
        width: 400px;
    }
} */
/* @media only screen and (max-width: 1100px) {
    header h1{
        width: 300px;
    }
    ul{
        width: 500px;
    }
    .rightcontent1{
        height: 300px;
        width: 340px;
    }
    .leftcontent3{
        height: 300px;
        width: 340px;
    }
    .rightcontent3 img{
        height: 300px;
        width: 340px;
    }
    .leftcontent2{
        height: 300px;
        width: 340px;
    }
    .leftcontent2 img{
        height: 300px;
        width: 340px;
    }
    .leftcontent1{
        width: 390px;
        height: 250px;
    }
    .rightcontent2{
        width: 390px;
    }
    .leftcontent1{
        width: 390px;
    }
    .leftcontent4 p{
        width: 390px;
    }
} */
@media only screen and (max-width: 1300px) {
    header h1{
        width: 500px;
    }
    ul{
        width: 700px;
    }
}